.message {

    border:1px solid #888;
    border-radius:8px;
    padding-bottom:5px;
    background-color:#f7eeee;
    margin-bottom:8px;
   
}
.row 
{
    margin-left:0px;
    
    
}
hr { background-color: red; height: 1px; border: 0; }
#spinn {


    text-align:center;
}
a.shitt {

    color:white;


}
